@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}

img {
    max-width: 100%;
    vertical-align: top;
}

body {
    color: #333;
    background-color: #fff;
}

.wrap {
    width: 100%;
    position: relative;
}

.top {
    width: 100%;
    display: flex;
    position: relative;
}

header {
    width: 200px;
}

header>a {
    margin: 30px 0;
}

nav {
    width: 200px;
}

nav>ul {}

nav>ul>li {
    position: relative;
}

nav>ul>li>a {
    width: 100%;
    height: 50px;
    align-content: center;
    text-align: center;
    background-color: #619e63;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

nav>ul>li>a.on,
nav>ul>li:hover>a {
    background-color: #dadada;
    color: #619e63;
}

.sub {
    width: 100%;
    position: absolute;
    top: 0;
    right: -200px;
    z-index: 10;
    color: #619e63;
    display: none;
}

.sub>ul {
    display: flex;
}

.sub>ul>li {}

.sub>ul>li>a {
    width: 200px;
    height: 50px;
    align-content: center;
    text-align: center;
}

.sub>ul>li>a.on,
.sub>ul>li:hover>a {
    background-color: rgb(0, 0, 0, 0.8);
    color: #fff;
}

.n_back {
    width: calc(100% - 200px);
    height: 200px;
    position: absolute;
    top: 100px;
    left: 200px;
    z-index: 9;
    background-color: #c1d3c1;
    display: none;
}

.spot {
    margin-top: 30px;
    text-align: center;
}

.spot>a {
    display: inline-block;
    padding: 0 15px;
}

.spot>a:first-of-type {
    border-right: 1px solid #333;
}

.spot>a:hover {
    color: #619e63;
}

main {
    width: calc(100% - 200px);
}

.slide {
    width: 100%;
    height: 400px;
}

.slide>ul {
    width: 100%;
    height: 400px;
    position: relative;
}

.slide>ul>li {
    width: 100%;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
}

.slide>ul>li>a {
    width: 100%;
    height: 100%;
    align-content: end;
    text-align: center;
}

.slide .s_text {
    background-color: rgb(0, 0, 0, 0.5);
    color: #fff;
    padding: 30px;
}

.slide .s_text>h2 {
    font-size: 26px;
}

.slide .s_text>p {
    font-size: 18px;
    margin-top: 5px;
}

.slide .s1 {
    background: url(/images/img1.jpg) no-repeat center/cover;
    z-index: 3;
}

.slide .s2 {
    background: url(/images/img2.jpg) no-repeat center/cover;
    z-index: 2;
}

.slide .s3 {
    background: url(/images/img3.jpg) no-repeat center/cover;
    z-index: 1;
}




.bann {
    width: 100%;
    height: 200px;
}

.bann>a {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
    align-content: center;
    align-items: center;
    padding: 0 20px;
}

.bann .b_text>p {
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.cont {
    width: 100%;
    height: 250px;
    padding: 0 20px;
}

.cont h3 {
    font-size: 25px;
    text-align: center;

}

.cont>ul {
    display: flex;
    position: relative;
}

.cont>ul>li {
    width: 120px;
    height: 40px;
    align-content: center;

}

.cont>ul>li.on {
    border-bottom: 3px solid #619e63;

}

.cont>ul>li>a {}


.notice {
    width: 100%;
    height: 210px;
    padding: 25px 20px 0;
}

.notice>li {
    width: 100%;
    margin: 10px 0;

}

.notice>li>a {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.notice>li>a>.tt {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.notice>li:hover>a {
    color: #619e63;
}

.gall {
    width: 100%;
    height: 210px;
    padding: 25px 20px 0;
    display: none;
}

.gall>ul {
    display: flex;
    gap: 20px;
}

.gall>ul>li {}

.gall>ul>li>a {}


.tab {
    position: absolute;
    top: 40px;
    left: 0;
}


.direct {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 100px;
    text-align: center;
    background-color: #619e63;
    z-index: 999;
    padding: 20px 0;
    border-radius: 10px;
}

.direct>ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.direct>ul>li {}

.direct>ul>li>a {
    color: #fff;
}

.direct>ul>li>a>p {
    margin-top: 5px;
}



footer {
    width: 100%;
    height: 120px;
    background-color: #dadada;
    display: flex;
    align-items: center;
}

footer>a {
    width: 200px;
    height: 100%;
    align-content: center;
}

footer .f_inner {
    width: calc(100% - 200px);
    padding: 0 20px;
}


footer .f_inner .f_menu {
    width: 100%;
    display: flex;
    gap: 20px;
}

footer .f_inner .f_menu>li {
    padding-right: 20px;
    border-right: 1px solid #333;
}

footer .f_inner .f_menu>li:last-of-type {
    border: none;
}

footer .f_inner .copy {
    margin-top: 10px;
}

.pop {
    width: 450px;
    height: 400px;
    background-color: #fff;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #619e63;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    display: none;
}

.pop>h2 {}

.pop>p {
    margin-top: 20px;
    line-height: 25px;
}

.pop .pop_off {
    cursor: pointer;
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.pop .pop_off:hover {
    color: #619e63;
}